<launch>

  <arg name="robot_name" default="myRobot"/>
  <arg name="urdf_xacro_path"/>
  <arg name="xacro_commands" default=""/>

  <arg name="urdf_path" value="/tmp/urdf2robcogen_urdf.urdf"/>

  <!-- abuse the param tag to ensure it runs before starting the node -->
  <param name="urdf2robcogen_urdf"
    command="$(find xacro)/xacro --inorder -o $(arg urdf_path) $(arg urdf_xacro_path)"/>

  <node pkg="urdf2robcogen" type="urdf2robcogen_node" name="urdf2robcogen" output="screen" args="$(arg robot_name) $(arg urdf_path)"/>

</launch>
